/Ejemplos/nbproject/private/
/Ejemplos/build/
/Problematicas/problema 1/nbproject/private/
/Problematicas/problema 2/nbproject/private/
/Problematicas/problema 3/nbproject/private/
/Problematicas/problema 4/nbproject/private/
/Problematicas/problema 5/nbproject/private/
